body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e8f6ff;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.navBar h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #34495e;
}

/* WORKSPACE */

.dynamicWorkSpace {
    margin-left: 200px; /* Add space for the fixed navigation bar */
    
    background-color: #526578; /* Set the background color to red */
    padding: 10px; /* Reduced padding */
    width: 82%; /* Set width to 60% of the container */
    height: 580px; /* Set a fixed height for the workspace */
    box-sizing: border-box; /* Ensure padding is included in the height/width */
    overflow: auto; /* Allow scrolling if the content exceeds the size */
}